.container {
  margin-top: 64px;
  margin-bottom: 32px;

  #descriptionProjects {
    margin-top: 16px;
  }

  ul {
    margin-bottom: 20px;
    margin-top: 1rem;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 53px;
      border-bottom: 1px solid var(--gray-300);

      .links {
        display: flex;
        align-items: center;
        gap: 8px;
        svg {
          color: var(--gray);
        }
      }
    }
  }
  .btnSeeAllProjects {
    display: flex;
    text-transform: capitalize;
    gap: 10px;
    color: var(--gray);
    font-size: 1rem;
    align-items: center;
  }
}
