.container {
  margin-top: 64px;

  #descriptionContribution {
    margin-top: 16px;
  }

  .date {
    margin-bottom: 8px;
  }

  ul {
    margin-top: 32px;
    li {
      list-style: none;
      margin-bottom: 16px;
    }
  }
}
