.container {
  width: 672px;
  margin: 0 auto;

  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .apresentation {
    .name {
      font-size: 48px;
      font-weight: 700;
      text-transform: capitalize;
    }
    .role {
      font-size: 16px;
      color: var(--gray);
      text-transform: capitalize;
      font-weight: 400;
      span {
        color: var(--black);
        font-weight: 700;
      }
    }
    .myDescription {
      font-size: 16px;
      font-weight: 400;
      color: var(--gray);
      margin-top: 31px;
      line-height: 24px;
      font-size: 1rem;
      width: 520px;
    }
  }

  img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
  }
}
